# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Data files
*.csv
*.json
plots/

# Environment variables (sensitive data)
.env

# macOS
.DS_Store
